.ui-tabs-nav img {
	width: 80px;
	height: 50px;
}
	
#featured{ 
	width:650px; 
	padding-right:250px; 
	position:relative; 
	height:239px; 
	background:#1E1F24;
}
#featured ul.ui-tabs-nav{ 
	position:absolute; 
	top:0; left:563px; 
	list-style:none; 
	padding:25px 0 0 0 ; margin:0; 
	width:250px; 
}
#featured ul.ui-tabs-nav li{ 
	padding:1px 0; padding-left:13px;  
	font-size:12px; 
	color:#666; 
}
#featured ul.ui-tabs-nav li img{ 
	float:left; margin:2px 5px; 
	background:#fff; 
	padding:2px; 
	border:1px solid #eee;
}
#featured ul.ui-tabs-nav li span{ 
	font-size:11px; font-family:Verdana; 
	line-height:18px; 
}
#featured li.ui-tabs-nav-item a{ 
	display:block; 
	height:60px; 
	color:#fff;  
	text-decoration:none;
	line-height:20px;
}
#featured li.ui-tabs-nav-item a:hover{ 
	 color:#999;  
}


#featured .ui-tabs-panel{ 
	width:563px; height:239px; 
	background:#999; position:relative;
}
#featured .ui-tabs-panel .info{ 
	position:absolute; 
	top:169px; left:0; 
	height:70px; 
	background: url('img/transparent-bg.png'); 
}
#featured .info h2{ 
	font-size:18px; font-family:Georgia, serif; 
	color:#fff; padding:5px; margin:0;
	overflow:hidden; 
}
#featured .info p{ 
	margin:0 5px; 
	font-family:Verdana; font-size:11px; 
	line-height:15px; color:#f0f0f0;
}
#featured .info a{ 
	text-decoration:none; 
	color:#fff; 
}
#featured .info a:hover{ 
	text-decoration:underline; 
}
#featured .ui-tabs-hide{ 
	display:none; 
}