/*
Project Test
Version: 1.0.0
*/

@import url("reset.css");

html {
	height: 100%;
}

body {
	background: #d8d8d8;
	font-family: arial, helvetica, sans-serif;
	font-size: 14px;
	color: #4f5259;
	min-height: 100%;
	padding-top: 25px;
}

p {
	size: 14px;
	color: #4f5259;
	line-height: 1.5;
}

a {
	text-decoration: none;
	outline: none;
	color: #868686;
	font-size: 14px;
}

a:hover {
	text-decoration: underline; /*не буде підчеркування посилання*/
	outline: none;
	color: #fff;
	font-size: 14px;
}

code {
	font-family: "Courier New", corier, monospace;
	color: #000;
}

blockquote {
	font-style: italic;
	background: #ccc;
	margin-left: 20px;
}

#wrap {
	width: 960px;
	background: #ededed;
	margin: 0 auto;
}

.clear {
	clear: both;
}

/*Header*/

#header {
	height: 205px;
}

#header_top {
	height: 64px;
	background: #1a1e27;
}

#header_bottom {
	height: 141px;
}

/*Top navigation*/

#header ul {
	float: left; /*посилання будуть горизонтально відображатися*/
	margin: 22px 244px 0 34px;
	list-style-type: none;
}

#header ul li {
	float: left;
	padding-left: 10px;
}

#header ul li a {
	height: 42px;
	display: block;
}

#header ul li a:hover {
	height: 42px;
	display: block;
	text-decoration: none;
	background: url(img/nav_arrow.png) no-repeat bottom;
}

.select {
	color: #fff;
	height: 42px;
	display: block;
	text-decoration: none;
	background: url(img/nav_arrow.png) no-repeat bottom;
}

/*Search form*/
#search {
	float: right;
	margin: 14px 32px 0 0;
	width: 201px;
	height: 43px;
	background: url(img/search_bg.png) no-repeat;
}

.search_text {
	width: 147px;
	padding: 11px 0 0 25px;
	border: none;
	background: none;
	outline: none; /*зникає рамка*/
}

.go {
	width: 15px;
	padding: 6px 0 0 25px;
	border: none;
	background: none;
	cursor: pointer; /*курсор: рука*/
}

#rss {
	margin: 24px 15px 0 0;
	float: right;
}

#rss span {
	margin-right: 5px;
	position: relative; /*відносне позиціювання*/
	top: -5px;
}

/*Logo*/
#logo{
	float: left;
	width: 280px;
	margin: 60px 0 0 74px;
}

#logo h1 {
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 700;
	color: #2f333b;
	margin-bottom: 20px;
}

#discription {
	width: 218px;
	font-style: italic;
	background: url(img/logo_line.png) no-repeat left;
	color: #646464;
	margin-top: 65px;
	padding-left: 20px;
	float: left;
}

#slogan {
	color: #646464;
}

/*Slider*/
#slider {
	width: 900px;
	margin: 0 auto;
}

/*Content*/
#conteiner {
	padding-top: 40px; 
}

#content {
	width: 516px;
	float: left;
	padding: 0 50px 0 32px;
}

#content_header {
	font-size: 25px;
	color: #fff;
	text-transform: uppercase; /*всі букви прописні*/
	background: #1a1e27;
	margin-bottom: 15px;
	width: 270px;
}

.post {
	margin-bottom: 40px;
}

.post h2 a {
	font-size: 24px;
	color: #4a4d54;
	text-transform: uppercase;
}

.cat {
	padding-right: 7px;
	border-right: 1px solid #fff;
}

.cat  a {
	font-style: italic;
}

.date {
	padding-left: 7px;
	border-left: 1px solid #d5d5d5;
	margin-left: -4px; /*Щоб небуло зазору*/
}

.date_text {
	font-style: italic;
	color: #868686;
}

.phead {
	margin-bottom: 10px;
}

.post img {
	border: 1px solid #c6c6c6;
	padding: 2px;
	float: left;
	margin-right: 5px;
}
.post p {
	padding-left: 153px;
}

.meta_bottom {
	margin: 10px 0 0 153px;
	line-height: 1.5;
	border-top: 1px solid #c7c7c7;
}

.more-link {
	float: right;
	margin-top: 15px;
	display: block;
	padding: 5px;
	background: #797979;
	color: #fff;
}

.more-link:hover{
	text-decoration: none;
	background: #949393;
	color: #ccc;
}

/*Sidebar*/
.section {
	margin-bottom: 45px;
	overflow: hidden;
}

.section h3 span {
	font-size: 25px;
	text-transform: uppercase;
	color: #fff;
	padding: 4px 5px;
	background: #1a1e27;
}

.section h3 {
	margin-bottom: 24px;
}

.section img {
	border: 1px solid #c6c6c6;
	float: left;
	padding: 2px;
	margin-right: 5px;
}

.section p {
	padding-right: 5px;
}

.section ul {
	line-height: 37px;
	list-style: inside;
	list-style-image: url(img/sidebar_arrow.png);
}

/*footer*/
#footer_top {
	background: #1a1f27;
	overflow: hidden;
}

.footer_block {
	float: left;
	width: 251px;
	margin: 0 36px 0 33px;
	padding: 27px 0 25px 0;
	line-height: 29px;
}

.footer_block h3 {
	font-size: 25px;
	text-transform: uppercase;
	color: #fff;
	border-bottom: 1px solid #333435;
	margin-bottom: 18px;
	padding-bottom: 15px;
	text-align: center;
}

.footer_block img {
	margin: 15px 10px 0 0;
}

#footer_nav {
	overflow: hidden; /*показує лише вмежах блоку*/
	zoom: 1; /*IE щоб працювло*/
	margin: 24px 0 30px 24px;
	float: left;
}

#footer_nav li {
	float: left;
	border-left: 1px solid #666;
	padding: 0 20px;
	margin: 0 1px 0 -1px;
	list-style-type: none;
}

#footer_bottom p {
	float: right;
	padding: 20px 20px 0 0;
}